/* ESTILOS DE FONT */

@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

/* CUERPO - TÍTULOS PRINCIPALES */

.backgroundc {
  background: rgb(236, 148, 148);
  background: linear-gradient(
    90deg,
    rgba(236, 148, 148, 1) 0%,
    rgba(231, 96, 96, 1) 38%,
    rgba(228, 129, 129, 1) 100%
  );
}

a:link,
a:visited {
  background-color: rgb(194, 59, 59);
  color: rgb(232, 214, 214);
  border: 2px solid rgb(181, 18, 18);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.caja_subtitulo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.subtitulo {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2em;
}

.promos {
  margin: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.promos_label {
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
  color: rgb(232, 214, 214);
  margin: 0.4em;
}

.promos_input {
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
  background-color: rgb(194, 59, 59);
  color: rgb(232, 214, 214);
  margin-right: 0.6em;
}

.promos_select {
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
  background-color: rgb(194, 59, 59);
  color: rgb(232, 214, 214);
}

.aside1 {
  background-color: rgb(181, 18, 18);
  padding: 0.6em;
}

.aside_titulo {
  color: rgb(232, 214, 214);
  font-size: 1.5em;
  font-family: "Reem Kufi", sans-serif;
  text-align: center;
}

.aside_enlaces {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 600px) {
  .item_nav {
    width: 75%;
  }

  .boton {
    width: 75%;
  }

  .promos_input {
    width: 75%;
  }
}
