.header {
  width: auto;
}

.barra_nav {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  background-color: rgb(161, 22, 64);
  color: rgba(255, 255, 255, 0.877);
  justify-content: space-between;
  padding-top: 1em;
}

.lista_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.2em;
}

.titulo_sitio {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2rem;
  align-self: baseline;
}

.item_nav {
  list-style: none;
  text-decoration: none;
}

.enlace_nav {
  color: rgba(255, 255, 255, 0.877);
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
}

.enlace_nav:hover {
  background-color: hotpink;
  border-radius: 12%;
}

.enlace_nav:active {
  background-color: magenta;
  border-radius: 12%;
}

.boton {
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
  background-color: rgb(194, 59, 59);
  color: rgb(232, 214, 214);
  border: 2px solid rgb(228, 70, 70);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.boton:hover {
  background-color: hotpink;
  border-radius: 12%;
}

/* FORMULARIOS Y MODALES */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 15%;
  padding: 10%;
}

.contenedor-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.contenedor-modal.mostrar {
  background-color: rgb(20, 10, 19);
  z-index: 1;
  opacity: 0.9;
}
.contenedor-modal .modal {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 450px;
  padding: 100px;
  background-color: rgb(161, 22, 64);
  opacity: 100px;
  top: 30px;
  max-width: 400px;
}

.contenedor-mod {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.contenedor-mod.mostrar {
  background-color: rgb(20, 10, 19);
  z-index: 1;
  opacity: 0.9;
}

.contenedor-mod .modal {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 450px;
  padding: 100px;
  background-color: rgb(161, 22, 64);
  opacity: 100px;
  top: 30px;
  max-width: 400px;
}
