.header {
  width: auto;
}

.barra-navegacion {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  background-color: rgb(161, 22, 64);
  color: white;
  justify-content: space-between;
}

.logo-empresa {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  align-self: baseline;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  flex-flow: row wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  background-color: hotpink;
  border-radius: 12%;
}

nav ul li a:active {
  background-color: magenta;
  border-radius: 12%;
}

.nav-item > a {
  color: white;
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
}

.barra-navegacion ul .btn {
  color: white;
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
  border-color: aliceblue;
}
.btn:hover {
  background-color: rgb(231, 212, 212);
}

.barra-navegacion form .btn {
  color: white;
  font-size: 1.2rem;
  font-family: "Reem Kufi", sans-serif;
  border-color: aliceblue;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 15%;
  padding: 10%;
}
