<!doctype HTML>
<html lang="es" dir="ltr">

<head>
  <title>QueComemos: ¡A Comer!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/Front/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/Front/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/Front/img/favicon-16x16.png">
  <link rel="manifest" href="/Front/img/site.webmanifest">
  <link rel="stylesheet" href="/Front/css/reset.css" />
  <link rel="stylesheet" href="/Front/css/header.css" />
  <link rel="stylesheet" href="/Front/css/body.css" />
  <link rel="stylesheet" href="/Front/css/footer.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body class="backgroundc">

  <header class="header">
    <nav class="barra-navegacion">
      <p class="logo-empresa">QueComemos</p>
      <ul>
        <li class="nav-item"><a href="#">Inicio</a></li>
        <li class="nav-item"><a target="_blank" href="https://grupocom7.wordpress.com/">Quiénes Somos</a></li>
        <li class="nav-item"><a target="_blank" href="https://grupocom7.wordpress.com/contacto/">Contacto</a></li>
        <li class="nav-item"><a href="/Front/view/locales.html">Locales</a></li>
      </ul>

      <!-- Formularios de registro y login -->

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Iniciar Sesión
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Login</h2>
              <form action="">
                <label for="usuario">E-Mail</label>
                <input type="text" placeholder="Usuario" id="usuario">

                <label for="contraseña">Contraseña</label>
                <input type="password" placeholder="Contraseña" id="contraseña">
                <button class="btn" type="submit" id="entrar">Entrar</button>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Registrarse
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Ingrese Sus Datos</h2>
              <form action="">
                <input type="text" placeholder="Nombre y Apellido" id="nombre" maxlength="30" minlength="5">
                <input type="number" placeholder="DNI" id="dni" max="99999999" min="1000000">
                <input type="email" placeholder="E-Mail" id="email">
                <input type="number" placeholder="Celular" id="telefono">
                <button class="btn" type="submit" id="ok">Registrarse</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
      </div>
    </nav>
  </header>

  <div class="titulos-principales">
    <h1 class="titulo-grande">¿Tenés hambre? Nosotros la solución. Mirá las promos que tenemos.</h1>
  </div>

  <section>
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="true" data-r>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/Front/img/carrusel/promohamburguesa.png" alt="Primera imagen" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="/Front/img/carrusel/promocafe.png" alt="Segunda imagen" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="/Front/img/carrusel/promopizza.png" alt="Tercera imagen" style="width:100%;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </section>

  <div class="promos">
    <label>Buscar promos</label>
    <input type="text" id="name" name="name" />
    <label>Categorías</label>
    <input type="text" id="name" name="name" />
  </div>

  <aside>
    <p><strong>Enlaces Recomendados</strong></p>
    <a href="https://www.selecciones.com.ar/" target="_blank">Selecciones</a>
    <a href="https://saborgourmet.com/" target="_blank">Cómo elegir el mejor restaurante</a>
    <a href="https://www.bodegasmezquita.com/" target="_blank">Consejos para crear una gran cena empresarial</a>
  </aside>

  <footer class="footer">
    <div class="footer_texto">
      <u>Hecho con amor por el GrupoCom7 en Córdoba, Argentina, 2022.</u>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="/Front/js/script.js"></script>

</body>

</html>