<!doctype HTML>
<html lang="es" dir="ltr">

<head>
  <title>QueComemos: ¡A Comer!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/Front/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/Front/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/Front/img/favicon-16x16.png">
  <link rel="manifest" href="/Front/img/site.webmanifest">
  <link rel="stylesheet" href="/Front/css/reset.css" />
  <link rel="stylesheet" href="/Front/css/header.css" />
  <link rel="stylesheet" href="/Front/css/body.css" />
  <link rel="stylesheet" href="/Front/css/footer.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body class="backgroundc">
  <header class="header">
    <nav class="barra_nav">
      <ul class="lista_nav">
        <p class="titulo_sitio">QueComemos</p>
        <li class="item_nav"><a class="enlace_nav" href="#">
            <i class="fa-solid fa-house"></i> Inicio</a></li>
        <li class="item_nav"><a class="enlace_nav" target="_blank" href="https://grupocom7.wordpress.com/">
            <i class="fa-solid fa-dragon"></i> Quiénes Somos</a></li>
        <li class="item_nav"><a class="enlace_nav" target="_blank" href="https://grupocom7.wordpress.com/contacto/">
            <i class="fa-regular fa-paper-plane"></i> Contacto</a></li>
        <li class="item_nav"><a class="enlace_nav" href="/Front/view/locales.html">
            <i class="fa-solid fa-shop"></i> Locales</a></li>

        <li class="item_nav"><button class="boton" type="submit" id="lanzar-modal">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión</button></li>
        <li class="item_nav"><button class="boton" type="submit" id="modal-regist">
            <i class="fa-solid fa-user-plus"></i> Registrarse</button></li>

      </ul>

      <!-- formularios y botones de registro y inicio de sesion -->

      <div class="contenedor-modal">
        <div class="modal">
          <h2>Login</h2>
          <form action="">
            <input type="text" placeholder="Usuario" id="usuario">
            <input type="password" placeholder="Contraseña" id="contraseña">
            <button class="boton" type="submit" id="entrar">Entrar</button>
          </form>

        </div>
      </div>

      <div class="contenedor-mod">
        <div class="modal">
          <h2>Ingrese Sus Datos</h2>
          <form action="">
            <input type="text" placeholder="apellido y nombre" id="nombre" maxlength="30" minlength="5">
            <input type="number" placeholder="dni" id="dni" max="99999999" min="1000000">
            <input type="email" placeholder="email" id="email">
            <input type="number" placeholder="telefono" id="telefono">
            <button class="boton" type="submit" id="ok">Registrarse</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <div class="caja_subtitulo">
      <h1 class="subtitulo">¿Tenés hambre? Nosotros la solución. Mirá las promos que tenemos.</h1>
    </div>
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="true" data-r>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/Front/img/carrusel/promohamburguesa.png" alt="Primera imagen" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="/Front/img/carrusel/promocafe.png" alt="Segunda imagen" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="/Front/img/carrusel/promopizza.png" alt="Tercera imagen" style="width:100%;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </section>

  <div class="promos">
    <label class="promos_label" for="promo"> Buscar promos</label>
    <input class="promos_input" type="text" id="promo" name="promo" />

    <label class="promos_label" for="categorias"> Categorías</label>
    <select class="promos_select" id="categorias" name="categorias">
      <option selected>Elegir...</option>
      <option value="1">Comida china</option>
      <option value="2">Comida mexicana</option>
      <option value="3">Restobar</option>
      <option value="4">Sushi</option>
    </select>
  </div>

  <aside class="aside1">
    <p class="aside_titulo"><i class="fa-solid fa-link"></i> Páginas recomendadas <i class="fa-solid fa-link"></i></p>
    <div class="aside_enlaces">
    <a class="enlace_nav" href="https://www.selecciones.com.ar/" target="_blank">Selecciones</a>
    <a class="enlace_nav" href="https://saborgourmet.com/" target="_blank">Cómo elegir el mejor restaurante</a>
    <a class="enlace_nav" href="https://www.bodegasmezquita.com/" target="_blank">Vinos para acompañar tu gran cena
      empresarial</a>
    </div>
  </aside>

  <footer class="footer">
    <div class="footer_texto">
      <u>Hecho con amor por ©GrupoCom7 en Córdoba, Argentina, 2022.</u>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/573e96e899.js" crossorigin="anonymous"></script>
  <script src="/Front/js/script.js"></script>
  <script src="/Front/js/validaciones.js"></script>
  <script src="/Front/js/app.js"></script>
</body>

</html>