<!doctype HTML>
<html lang="es" dir="ltr">

<head>
  <title>QueComemos: ¡A Comer!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/Front/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/Front/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/Front/img/favicon-16x16.png">
  <link rel="manifest" href="/Front/img/site.webmanifest">
  <link rel="stylesheet" href="/Front/css/reset.css" />
  <link rel="stylesheet" href="/Front/css/header.css" />
  <link rel="stylesheet" href="/Front/css/body.css" />
  <link rel="stylesheet" href="/Front/css/footer.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body class="backgroundc">
  <header class="header">
    <nav class="barra_nav">
      <ul class="lista_nav">
        <p class="titulo_sitio">QueComemos</p>
        <li class="item_nav"><a class="enlace_nav" href="/Front/view/index.html">
            <i class="fa-solid fa-house"></i> Inicio</a></li>
        <li class="item_nav"><a class="enlace_nav" target="_blank" href="https://grupocom7.wordpress.com/">
            <i class="fa-solid fa-dragon"></i> Quiénes Somos</a></li>
        <li class="item_nav"><a class="enlace_nav" target="_blank" href="https://grupocom7.wordpress.com/contacto/">
            <i class="fa-regular fa-paper-plane"></i> Contacto</a></li>
        <li class="item_nav"><a class="enlace_nav" href="/Front/view/locales.html">
            <i class="fa-solid fa-shop"></i> Locales</a></li>

        <li class="item_nav"><button class="boton" type="submit" id="lanzar-modal">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión</button></li>
        <li class="item_nav"><button class="boton" type="submit" id="modal-regist">
            <i class="fa-solid fa-user-plus"></i> Registrarse</button></li>

      </ul>
    </nav>
  </header>

  <div>
    <h1>Página en Progreso</h1>
  </div>

  <footer class="footer">
    <div class="footer_texto">
      <u>Hecho con amor por ©GrupoCom7 en Córdoba, Argentina, 2022.</u>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/573e96e899.js" crossorigin="anonymous"></script>
  <script src="/Front/js/script.js"></script>
  <script src="/Front/js/validaciones.js"></script>
  <script src="/Front/js/app.js"></script>
</body>

</html>