<!doctype HTML>
<html lang="es" dir="ltr">

<head>
  <title>QueComemos: ¡A Comer!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/Front/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/Front/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/Front/img/favicon-16x16.png">
  <link rel="manifest" href="/Front/img/site.webmanifest">
  <link rel="stylesheet" href="/Front/css/reset.css" />
  <link rel="stylesheet" href="/Front/css/header.css" />
  <link rel="stylesheet" href="/Front/css/body.css" />
  <link rel="stylesheet" href="/Front/css/footer.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body class="backgroundc">
  <div class="contenedor-g">
    <header>
      <nav class="barra-navegacion">
        <div class="logo-empresa">QueComemos</div>
        <ul>
          <li class="nav-item"><a href="/Front/view/index.html">Inicio</a></li>
          <li class="nav-item"><a target="_blank" href="https://grupocom7.wordpress.com/">Quiénes Somos</a></li>
          <li class="nav-item"><a target="_blank" href="https://grupocom7.wordpress.com/contacto/">Contacto</a></li>
          <li class="nav-item"><a href="/Front/view/locales.html">Locales</a></li>
        </ul>
    </header>

    <div>
      <h1>Página en Progreso</h1>
    </div>

</body>

</html>